@use 'fonts';
@use 'colors';

.carousel-block {
  padding: 50px 0;
  color: colors.$white;

  .carousel-item {
    min-height: 200px;
  }

  .carousel-caption {
    top: 0;
    bottom: auto;
  }

  .carousel-control-prev {
    justify-content: start;
  }

  .carousel-control-next {
    justify-content: end;
  }
}