$blue: blue;
$blue-dark: darkblue;
$grey: #CCCCCC;
$border: #dee2e6;
$purple: purple;
$white: white;
$black: black;
$dark-grey: darken($grey, 50);
$softblue: rgb(72, 105, 250);
$softgray: rgb(180, 188, 214);

$blue-001: rgb(33, 51, 62);
$blue-002: #2a404e;
$blue-003: #26aadd;
$blue-004: #3276b1;
$grey-001: #e6e7e8;
$softblue: rgb(72, 105, 250);
$softgray: rgb(180, 188, 214);