$blue: blue;
$blue-dark: darkblue;
$grey: #CCCCCC;
$border: #dee2e6;
$purple: purple;
$white: white;
$black: black;
$dark-grey: darken($grey, 50);
$softblue: rgb(72, 105, 250);
$softgray: rgb(180, 188, 214);
$grey-002: rgb(0,0,0,0.125);
$grey-003: rgb(0,0,0,0.3);

$blue-001: rgb(33, 51, 62);
$blue-002: #2a404e;
$blue-003: #26aadd;
$blue-004: #3276b1;
$grey-001: #e6e7e8;
$softblue: rgb(72, 105, 250);
$softgray: rgb(180, 188, 214);
$maroon: #91456A;

$sole-01: #81599f;
$sole-02: #36d6e7;
$sole-03: #0074dd;
$sole-04: #755d8f;

$solecap-bg-01: darken($sole-02, 15);
$solecap-bg-02: darken($sole-01, 10);
$solecap-bg-03: lighten($sole-03, 30);
$solecap-bg-04: lighten($sole-04, 20);
$solecap-bg-05: darken($sole-02, 30);



