@use 'fonts';
@use 'colors';

.footer-block {
  padding: 50px 0 200px;
  background-color: colors.$blue-001;
  color: colors.$white;

  .footer-section {
    padding-bottom: 2rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 0.5rem 0;
    }
  }

  a {
    color: colors.$blue-003;
    font-weight: bold;
    transition: all .2s ease-in-out;
    &:hover {
      color: lighten(colors.$blue-003, 20%);
    }
  }

  .info-table {
    td {
      vertical-align: top;
    }
    .data {
      padding-left: 12px;
    }
  }

}