@use 'fonts';
@use 'colors';
@use 'variables';

.side-image-block {
  padding: 70px 0;

  img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .image-col {
    text-align: center;
  }

  &.image-right {
    img {
      margin-bottom: 0;
    }

    .image-col {
      order: 2;
    }
    .content-col {
      order: 1;
    }
  }

  @media (min-width: variables.$size-m) {

  }

  @media (min-width: variables.$size-l) {
    img {
      margin-bottom: 0;
    }
    .image-col {
      text-align: left;
    }
    &.image-right {
      .content-col {
        margin-bottom: 0;
      }
    }
  }

}
