<section class="footer-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 footer-section">
                <h4>Solecap</h4>
                <p>
                    Somos un grupo formado por empresas 100% mexicanas, conformadas por equipos de profesionales especializados en la prestación de servicios integrales, el desarrollo de proyectos y la gestión integral de activos.
                </p>
            </div>
            <div class="col-md-6 col-lg-4 footer-section">
                <h4>Contacto</h4>
                <table class='info-table'>
                    <tr>
                        <td>Teléfonos:</td>
                        <td class='data'><a href='tel:5589118798'>55 8911 8798</a></td>
                    </tr>
                    <tr>
                        <td class='pb-3'></td>
                        <td class='data pb-3'><a href='tel:5589118973'>55 8911 8973</a></td>
                    </tr>
                    <tr>
                        <td class='pb-3'>Dirección operativa:</td>
                        <td class='data pb-3'>Xochitl #5, Col. Sta. Clara, Ecatepec de Morelos, México, C.P. 55540</td>
                    </tr>
                    <tr>
                        <td class='pb-3'>Dirección corporativa:</td>
                        <td class='data pb-3'>Ejército nacional #769, Col. Granada, Del. Miguel Hidalgo, CDMX, C.P. 11520</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 col-lg-4 footer-section">
                <h4>Servicios</h4>
                <ul>
                    <% collections.servicios.forEach((navPage) => { %>
                        <% if (!navPage.data || !navPage.data.title) return;%>
                        <li>
                            <a class="navigation-item<%- ` ${page.url === navPage.url && 'active'}` %>"
                               href="<%- navPage.url %>">
                                <%= navPage.data.title %>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</section>