<section class="hero-cta">
    <div class="hero-message">
        <img src="images/logo.png" alt="company logo">
        <h1><%- mainText %></h1>
        <p><%- secondaryText %></p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contact-modal">
            <%- ctaButtonText %>
        </button>
    </div>
</section>