<section class="map-section">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15055.85388499927!2d-99.1667009!3d19.3707343!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe73f356a90f47ffb!2sFantastico%20Comics%20store!5e0!3m2!1sen!2smx!4v1612387166886!5m2!1sen!2smx" width="100%" height="600" frameborder="0" style="border:0; vertical-align: bottom; display: block;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>