---
title: 'Cotizaciones'
permalink: 'cotizaciones/index.html'
---
<section class='cotizaciones-section'>
    <div id="app" class='pb-md-5'>
        <service-display
                :cart='cart'
                :services='services'
                @add-to-cart="addToCart"
                @remove-from-cart="removeFromCart"
        ></service-display>
    </div>
</section>

<!-- Import Vue.js -->
<script src="https://unpkg.com/vue@next"></script>
<!-- Import App -->
<script src="/assets/app/main.js"></script>
<!-- Import Components -->
<script src="/assets/app/components/ServiceDisplay.js"></script>
<!-- Mount App -->
<script>
	const mountedApp = app.mount('#app')
    console.log('mounted app')
</script>